<%= form_tag password_resets_path, :method => :post do %>
	<div class="col-lg-6 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
	        	Diga teu email, imundiça
	    	</div>
	    	<div class="panel-body">
				<div class="field">
					<%= label_tag :email %>
					<%= text_field_tag :email, params[:email] %>
				</div>
			    <div class="actions"><%= submit_tag "Reset Password",  class: "btn btn-primary" %></div>
			</div>
	 	</div>
	</div>
<% end %>