<h3><%= @name %></h3>
<script type="text/javascript" charset="utf-8">
 
$(document).ready(function() {

  var chart = new Highcharts.Chart({

  chart: {
    renderTo: 'container2',
    type: 'bar'
  },
  plotOptions: {
    series: {
      pointWidth: 30
    }
  },
  title: {
    text: null
  },
  xAxis: {
    categories: <%= raw @array_speciality %>
  },
  yAxis: {
    title: {
      text: 'Número de Médicos'
    }
  },
  series: [
    {
    name: 'Quantidade de médicos',
    data: <%= @array_quantity_medics %>
    },
  ],
  });
});
</script>

<div id="container2" style="height:1080px"></div>