<p>Para redefinir sua senha, mate uma galinha na encruzilhada, e depois acesse o link abaixo. <b>Hail satan!</b></p>
<p><%= edit_password_reset_url(@user.password_reset_token) %></p>
<p>Se você não requisitou uma mudança de senha, fica de boa e não enche o saco.</p>
