<p>Olá <%= @user.username %>, </p>
<p>
	Foi requisitada uma mudança de senha em sua conta.
	Para redefinir sua senha clique no link abaixo: 
</p>
<a href="<%= edit_password_reset_url(@user.password_reset_token) %>"> Clique aqui! </a>
<p> Caso não tenha requisitado uma mudança de senha, ignore esta mensagem. Sua conta não sofrera nenhuma mudança.</p>
