
<!-- Page Content -->

<!-- Introduction Row -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sobre nós
        </h1>
        <p>O TEM-DF, Transparência em Escalas Médicas do Distrito Federal, é um projeto idealizado por graduandos em engenharia de software para disponibilizar as escalas médicas dos profissionais do GDF. A página também visa oferecer melhor monitoramento das atividades médicas através de avaliação de cada médico e a consulta a gráficos da quantidade dos profossionais por unidade/região administrativa.</p>
    </div>
</div>

<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Time TEM-DF</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 text-center">
        <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
        <h3>John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
</div>



