<html>
	<head>
	</head>
	<body>
		<br>
		<br>
	<div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1>Conheça nossa Proposta</h1>
                        <p align = "justify">As experiências acumuladas demonstram que a consulta aos diversos militantes ainda não demonstrou convincentemente que vai participar na mudança do retorno esperado a longo prazo.</p>
                        <p><a class="btn btn-primary btn-lg" role="button">Learn more</a>
                        </p>
                    </div>
                </div>	

	</body>
</html>