.navbar-brand {
  float: left;
  height: 50px;
  padding: 5px 15px;
}
.title {
	  float: left;
  height: 50px;
  padding: 15px 0px;
  margin-bottom: 0px;
  color: #428bca;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 20px;
}
.button-schedule{
  padding: 5px 8px;
}
.report{
  font-size: 14px;
  padding-right: 24px;
  color: #FF6E6E;
  opacity: 1;
}
.activate{
  float: right;
}
.rating-button{
padding: 5px 45px;
}
.app-btn{
  width: 110px;
}
.app-btn-group{
  margin-top: 10px;
}
.navbar-right{
  margin-right: 0px;
}
.report-btn-group{
  float: right;
}
.black-word{
  color: rgb(51, 51, 51);
}
.body-comments { padding-top:30px; }
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 14px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

